.section {
	@apply grid gap-x-100;
	grid-template-columns: 50% 1fr;
	grid-template-rows: repeat(2, auto);

	.info {
		grid-row: 1;
		> h3 {
			margin-bottom: 40px;
		}

		> p {
			@apply mb-60 T2;
		}
	}

	.img {
		@apply relative w-full;
		grid-row: 1/3;
		> img {
			@apply image-bg;
		}
	}
}

@import './adaptive.module';
