.block {
	@apply blue-line-block before:content-[''];
	padding: 16px 0 20px 20px;

	.time {
		@apply T5 text-gray-700;
		display: block;
	}

	.info {
		@apply flex justify-between items-end;

		> h4 {
			@apply mt-20;
		}

		.text {
			@apply T5 flex items-end gap-10;

			> span:first-child,
			> span:last-child {
				display: block;
				margin-bottom: 3px;
			}

			.price {
				@apply T1 text-primary;
				margin-top: 8px;
			}
		}
	}
}

@import './adaptive.module';
