@media (max-width: 1599px) {
	.section {
		@apply mx-20 w-auto;

		.contactsBlock {
			@apply gap-50;

			.contacts {
				@apply w-full;
				.links {
					@apply flex-between gap-0;
				}
			}
		}
	}
}
@media (max-width: 999px) {
	.section {
		@apply mb-150;
		.contactsBlock {
			@apply flex-block-mobile gap-20;
			> .img {
				height: 114px;
			}
			.contacts {
				> a {
					@apply T1-mobile;
				}
				.links {
					.link {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}
@media (max-width: 639px) {
	.section {
		@apply mx-10;

		.contactsBlock {
			@apply flex-col gap-75;

			> .img {
				height: 120px;
			}

			.contacts {
				@apply gap-50;
			}
		}
	}
}
