.block {
	@apply py-150 bg-primary;
}

.body {
	@apply wrapper grid gap-x-100;
	grid-template-columns: 50% 1fr;

	> div:first-child {
		@apply text-white;
		grid-row: 1;
		> h3 {
			margin-bottom: 40px;
		}

		> p {
			@apply T2 mb-60;
		}
	}

	.img {
		@apply relative;
		grid-row: 1/3;

		> img {
			@apply image-bg;
		}
	}
}

@import './adaptive.module';
